@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Oops..an error occurred";
}

@if (Model != null)
{
    <h3 style="padding-top:20px;">@Model.Exception.GetType().Name</h3>
    <pre>
        @Model.Exception.ToString()
    </pre>
    <p>
        thrown in @Model.ControllerName @Model.ActionName
    </p>
}
