body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* login css */
.container {
    padding: 30px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
    margin-top: 75px;
}

h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}


/* end login css*/




#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}

#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}

#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}

#sidebar-wrapper {
    height: 100%;
    padding: 90px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}

#sidebar {
    position: relative;
    height: 100%;
    overflow: hidden;
}

    #sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}

@media (min-width: 992px) {
    #main-wrapper {
        float: right;
    }
}

@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}

@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height: auto;
        max-height: 300px;
        border-right: 0;
    }
}

.footer {
    background-color: #ffffff;
    bottom: 0;
    position: fixed;
    padding: 10px;
}

.login .login-wrapper {
    margin-top: 60px;
}

.text-danger.login-val-failed-summary div ul li {
    list-style-type: none;
}

#main h1, h2, h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

table, th, td {
    border: 2px solid black;
}

#sidebar li.activeSideNav a {
    background-color: #e6e6e6 !important;
}

.searchText {
    float: right;
}


    .searchText input {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.pagingFooter {
    border: none;
    float: right;
}
